body {
  background-color: #333; /* Dark gray background */
  color: #fff; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #fff; 
}

button {
  background-color: #555; 
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #777; 
}

input {
  background-color: #444;
  color: white;
  border: 1px solid #666;
  padding: 5px;
  margin: 5px;
}

.container {
  text-align: center;
  padding: 20px;
}

.flashcard-container {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  width: 60%;
}

.image-container img {
  width: 150px;
  height: auto;
  margin: 0 10px;
}
